body{
  margin:0;
}

header nav{
float :right;
}

header nav ul li {
  display: inline-block;
}

header h1 {
  text-align: center;
  height:20px;
}

header nav {
  margin-top: 0px;
}

header {
  background-color:blanchedalmond;:350;
  height:275px;


}



main {
  background-color: darkkhaki
}

main h2 {
  text-align: center;
}


main p {
color: red;
}









footer{
  background-color:darkcyan;
  text-align: center;
  color: darkred
}